.Album-wrapper{
    /* text-align: center; */
    float: left;
    margin: 10px 0px;
    height: 100%;
    width: 30%;
    background-color: #111111;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.363);
}

.Album-description{
    margin: 7px 0px;
}

.Album-image img{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

p{
    color: white;
    margin: 0;
    padding-bottom: 10px;
}

.Album-name{
    font-size: 10px;
}

.Album-title{
    padding: 15px 0px;
    font-size: 15px;
    font-weight: 800;
}

@media only screen and (max-width: 1300px) {
    .Album-title{
        font-size: 10px;
    }
    
    
}
@media only screen and (min-width: 800px) {
    .Album-wrapper{
        width: 35%;
    }
}    
@media only screen and (max-width: 500px) {
    .Album-wrapper{
        width: 100%;
    }
}    
@media only screen and (min-width: 1300px) {
    .Album-wrapper{
        width: 25%;
    }
    
}

.Album-artist{
    font-size: 10px;
}

.Album-button{
    text-align: center;
    color: white;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: 500;
    padding: 7px 5px;
    border-radius: 20px;
    margin: 20px auto;
    cursor: pointer;
    max-width: 50%;
    background-color: #1ed760;
    box-shadow: 2px 2px 0 rgb(255, 255, 255);
}

.Album-button:active{
    position: relative;
    top: 2px;
    box-shadow: none;
}

.Album-button:hover{
    background-color: #1db954;
}