textarea{
    /* display: block; */
    /* display: inline-block; */
    border-radius: 15px;
}

input{
    /* height: 10px; */
    box-sizing: border-box;
    padding-left: 10px;
    text-align: start;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.correct-val{
    padding-top: 10px;
    font-size: 15px;
    color: rgb(69, 236, 69);
}

.incorrect-val{
    padding-top: 10px;
    font-size: 15px;
    color: red;
}

.form-wrapper{
    text-align: start;
    padding: 10px 40px;
    background-color:  rgb(17, 17, 17);
    border-radius: 20px;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.363);
}

button{
    margin: 20px auto;
    display:inline;
}



.wrapper{
    margin: 0 50px;
    text-align: start;
}

textarea{
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    max-width: 100%;
}