/* FLEXBOX STYLING */

.Album-container{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content:center;
  }

@media only screen and (max-width: 900px) {
    .Album-container{
      flex-wrap: wrap;
      justify-content: center;
    }
    
  }

.wrapper{
    margin: 0 50px;
    padding: 10px 40px;
}
