.Recent-container{
    background-color: rgb(17, 17, 17);
    margin: 30px 5px;
    width: 250px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.363);
}


.Content-recent-wrapper p{
    text-align: left !important;
    padding: 0;
}

.track-title{
    font-size: 12px;
    font-weight: 800;
}

.artist-name{
    font-size: 9px;
    font-weight: normal;
}

.thumbnail-wrapper{
    float: left;
}

.Content-recent-wrapper{
    width: 150px;
    margin-left: 20px;
    float: left;
}